<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" />
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min-3.1.1.js"></script>
    <script src="lib/angular/angular-1.3.0.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
    <script src="js/controllers/mainController.js"></script>
      <script src="js/directives/myClick.js"></script>
  </head>

 <body ng-controller="mainCtrl" my-click="clickHandler(data)">
    <h1>Angular Template</h1>
    <h2>{{data.message}}</h2>
    
  </body>

</html>