







.navbar-default .navbar-brand {
    color: #28ABE3;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #28ABE3;
}

.navbar-default .navbar-toggle {
    border-color: #28ABE3;
    background-color: #28ABE3;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #28ABE3;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #28ABE3;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #28ABE3;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #28ABE3;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #28ABE3;
}

.menu-wrap .logo {
    color: #28ABE3;
}

.menu-button {
    background: #f1f1f1;
}

.header .intro-text h1 span {
    color: #28ABE3;
}

.main-title strong {
    color: #28ABE3;
}

.portfolio-caption a i {
    color: #28ABE3;
}


.welcome-section:hover .border {
    border-color: #28ABE3;
}

.welcome-section:hover h4 {
    color: #28ABE3;
}

.about-text li i {
    color: #28ABE3;
}

.about-us-section-2 .carousel-indicators li,
.project-image .carousel-indicators li {
	border: 2px solid #28ABE3 !important;
}

.about-us-section-2 .carousel-indicators .active,
.project-image .carousel-indicators .active {
	background-color: #28ABE3;
}

.owl-theme .owl-controls .owl-buttons div {
	background: #28ABE3;
}


.team-member .team-details {
    background-color: rgba(40, 171, 227, 0.8);
}

.owl-theme .owl-controls .owl-page.active{
    background-color: #28ABE3;
}

.contact .form-control:focus {
    border-color: #28ABE3;
    box-shadow: none;
}



.team-details li a {
    background: #28ABE3;
}

.progress-bar {
    background: #28ABE3;
}


.pricing-tables .pricing-table.highlight-plan .plan-name {
    background: #28ABE3;
}

.pricing-tables .pricing-table.highlight-plan .plan-signup {
    background: #28ABE3;
}


#main-slide .slider-content h1 strong {
    color: #28ABE3;
}

.latest-post .post-details .date {
    background: rgba(40, 171, 227, 0.8);
}

.custom-tab .nav-tabs.nav-justified {
    background: #28ABE3;
}

.plan-name {
    background: #28ABE3;
}

.plan-signup {
    background: #28ABE3;
}

.dot1, .dot2 {
    background-color: #28ABE3;
}