/*-~- variables -~-*/
// Font
$font-main: sans-serif;
$font-sec: serif;

// Colors
$black: #000;
$white: #fff;
$grey: #9297a0;
$graylight:#c1c3c9;
$darkgrey:#67696b;

$lightgray:#edeef2;
$blue:#6194ed;
$white-gray: #fcfcfc;
$darkred:darkred;	
// Durations
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .6s;

/*-~- breakpoints -~-*/
$tablet-min: '630px';
$tablet-max: '896px';

