<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" />
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min-3.1.1.js"></script>
    <script src="lib/angular/angular-1.3.0.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/directives/spacebarSupport.js"></script>
       <script src="js/directives/eventPause.js"></script>
  </head>

  <body ng-controller="mainCtrl" class="container" style="padding-top:30px">
  
   <video id="vid" spacebar-support event-pause="handlePause(evt)" controls preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png">
      <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"></source>
      <source src="http://media.w3.org/2010/05/sintel/trailer.webm5" type="video/webm"></source>
      <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type="video/ogg"></source>
    </video>
    <div ng-repeat="message in messages">{{message.text}}</div>
    
  </body>

</html>