.header {
	width: 253px;
	position: fixed;
	top: 0px;
	bottom: 0;
	width: 20%;
	left: 0;
	.navigation {
		//float: left;
		height: 100vh;
		background-color: $darkgrey;
		border: 1px solid $black;
		li {
			//width: 70px;
			position: relative;
			//letter-spacing: 1px;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			// list-style-type: none;
			padding: 50px 100px;
			color: white;
			border: 1px solid $black;
		}
		a {
			display: block;
			color: white;
			text-decoration: none;
		}
		.img {
			width: 100%;
			background-color: $darkred;
			margin-top: 0px;
			border: none;
			padding: 50px 0px;
			text-align: center;
			img {
				width: 150px;
				height: 100px;
				border: none;
			}
		}
	}
	.navigation li:hover {
		background-color: $darkred;
		color: $black;
		transition: background-color 0.3s;
		cursor: pointer;
	}
	.navigation li:active {
		color: $white;
		background-color: $black;
		transition: background-color 0.1s;
		transition: color 0.3s;
	}
	//Decide are you gonna be doing PHONE or DESKTOP first styling
	//If you're doing PHONE first,
	//      just fill in the blanks
	//If you are doing DESKTOP first,
	//      uncomment the phone include and comment out the desktop one,
	//      then fill in the blanks
	@include breakpoint(tablet) {}
	@include breakpoint(desktop) {}
	// @include breakpoint(phone) {
	// }
}