@include breakpoint(phone) {
    /* Mobile navigation */
    // Binds to JS Toggle
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: $nav-background;
        height: $nav-height;
        width: $nav-height;
    }
    //@media only screen and (max-width: $mobbreakpoint) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }
    .navigation {
        .nav-container {
            .brand {
                float: left;
                padding: 25px;
                margin-left: 50px;
                a {
                    color: white;
                    font-size: 25px;
                    text-transform: uppercase;
                    
                   
                }
            }
        }
    }
    nav {
        height: 100vh;
        width: 100%;
        padding: 100px;
        background: $nav-background;
        text-align: center;
        ul {
            display: none;
            border-top-style: outset;
            li {
                float: none;
                a {
                    padding: 70px;
                    line-height: 60px;
                    color: white;
                    margin-top: 15px;
                    font-size:18px;
                }
                ul li a {
                    padding-left: 40px;
                }
            }
        }
    }
    .nav-dropdown {
        position: static;
        li{
            a{
                color: #8cb3d9;
                padding-left: 70px;
                text-align: center;
                
            }
        }
        
    }
    
     nav{
        ul{
            .reg-log{
                //margin-left: 500px;
                //padding: 29px;
                a{
                    
                    color:silver;
                    margin-top: 15px;
                    padding: 15px;
                    font-size:18px;
                    
                }
            }  
        }
    }
    
    
    
    
    
    //
    @media screen and (min-width: $tablet-min) {
        .nav-list {
            display: block !important;
        }
    }
    #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 15px 35px 16px 0px;
        span,
        span:before,
        span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: $nav-font-color;
            position: absolute;
            display: block;
            content: '';
            transition: all 300ms ease-in-out;
        }
        span:before {
            top: -10px;
        }
        span:after {
            bottom: -10px;
        }
        &.active span {
            background-color: transparent;
            &:before,
            &:after {
                top: 0;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}