@include breakpoint(tablet) {
    //Styles go here
    .navigation {
  height: $nav-height;
  background: $nav-background;
}
    
    nav{
        ul{
            .reg-log{
                
                //margin-left: 550px;
                padding: 25px;
                a{
                    transform:translate(288px, -90px);
                    float:left;
                    color:silver;
                    //margin-top: 15px;
                    padding: 15px;
                    font-size: 15px;
                }
            }  
        }
    }

// Logo and branding
.brand {
   // width: 20%;
  position: relative;
  margin-left: 25px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 20px;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
    //width: 80%;
  float: left;
    margin-left: 75px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 7px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
          font-size:15px;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
         // padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 5px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
}