@include breakpoint(desktop) {
    // Outer navigation wrapper
    .navigation {
        height: $nav-height;
        background: $nav-background;
    }
    // Logo and branding
    .brand {
        width: 20%;
        //position: absolute;
        padding: 15px 15px 15px 15px;
        float: left;
        //line-height: $nav-height;
        text-transform: uppercase;
        font-size: 24px;
        a,
        a:visited {
            color: $nav-font-color;
            text-decoration: none;
        }
    }
    
   
    
    
    
    
    
    // Container with no padding for navbar
    .nav-container {
        max-width: $content-width;
        margin: 0 auto;
    }
    // Navigation 
    nav {
        float: left;
        width: 80%;
        ul {
            list-style: none;
           // margin-left: 50px;
            padding: 0;
            li {
                float: left;
                position: relative;
                a,
                a:visited {
                    font-size: 18px;
                    display: block;
                    padding: 0 15px;
                    line-height: $nav-height;
                    background: $nav-background;
                    color: $nav-font-color;
                    text-decoration: none;
                    &:hover {
                        background: $link-hover-color;
                        color: $nav-font-color;
                    }
                    &:not(:only-child):after {
                        padding-left: 4px;
                        content: ' ▾';
                    }
                } // Dropdown list
                ul li {
                    min-width: 190px;
                    a {
                        padding: 15px;
                        line-height: 20px;
                        
                    }
                }
            }
        }
    }
    nav{
        ul{
            .reg-log{
                margin-left: 500px;
                padding: 29px;
                a{
                    color:silver;
                    margin-top: 15px;
                    padding: 15px;
                    font-size:18px;
                }
            }  
        }
    }
   
    // Dropdown list binds to JS toggle event
    .nav-dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
}