<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
    <h3>School: {{ classroom.currentClassroom.school.name }}</h3>

    <h3>Classroom: {{ classroom.currentClassroom.name }}</h3>

    <h3>Teacher: {{ classroom.currentClassroom.teacher }}</h3>
</div>

<div ui-view="classInfo"></div>
<div ui-view="classMessage"></div>