@charset "UTF-8";
/*-~- config -~-*/
/*-~- reset -~-*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/*-~- base reset -~-*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

/*-~- links -~-*/
a {
  text-decoration: none; }

a:focus, a:hover, a:active {
  outline: none; }

/*-~- typography -~-*/
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*-~- lists -~-*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*-~- Embedded content -~-*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*-~- forms -~-*/
figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

input, textarea, select {
  outline: none; }

/*-~- tables -~-*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/*-~- chrome frame prompt -~-*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/*-~- clearfix -~-*/
.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*-~- variables -~-*/
/*-~- breakpoints -~-*/
/*-~- helpers -~-*/
/*-~- breakpoints -~-*/
/*-~- transition -~-*/
/*
h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
}

h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 41px 0 25px 0;
}

h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

h5 {
    font-weight: 700;
    font-size: 16px; 
    line-height: 30px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
    padding: 13px 0 21px 0;
    max-width: 466px;
    margin: 0 auto 3px auto;
}

p {
    font-weight: 300;
    font-size: 13.5px;
    line-height: 30px;
}

a {
    color: black;
    text-decoration: none;
}
*/
/*-~- layout -~-*/
/*-~- icons -~-*/
i {
  -moz-transition-property: 0.3s;
  -o-transition-property: 0.3s;
  -webkit-transition-property: 0.3s;
  transition-property: 0.3s; }

.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  padding: 13px 20px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  background: #000;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 4px solid #000; }
  .btn:hover {
    background-color: #9d9fa2; }

/*-~- layout -~-*/
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  /*-~- Suggestions for a Grid Base -~-*/ }

@media only screen and (max-width: 600px) {
  /* Mobile navigation */
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #336699;
    height: 80px;
    width: 80px; }
  .nav-mobile {
    display: block; }
  .navigation .nav-container .brand {
    float: left;
    padding: 25px;
    margin-left: 50px; }
    .navigation .nav-container .brand a {
      color: white;
      font-size: 25px;
      text-transform: uppercase; }
  nav {
    height: 100vh;
    width: 100%;
    padding: 100px;
    background: #336699;
    text-align: center; }
    nav ul {
      display: none;
      border-top-style: outset; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 70px;
          line-height: 60px;
          color: white;
          margin-top: 15px;
          font-size: 18px; }
        nav ul li ul li a {
          padding-left: 40px; }
  .nav-dropdown {
    position: static; }
    .nav-dropdown li a {
      color: #8cb3d9;
      padding-left: 70px;
      text-align: center; }
  nav ul .reg-log a {
    color: silver;
    margin-top: 15px;
    padding: 15px;
    font-size: 18px; } }

@media only screen and (max-width: 600px) and (min-width: 600px) {
  .nav-list {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 15px 35px 16px 0px; }
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
    #nav-toggle span:before {
      top: -10px; }
    #nav-toggle span:after {
      bottom: -10px; }
    #nav-toggle.active span {
      background-color: transparent; }
      #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0; }
      #nav-toggle.active span:before {
        transform: rotate(45deg); }
      #nav-toggle.active span:after {
        transform: rotate(-45deg); } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .navigation {
    height: 80px;
    background: #336699; }
  nav ul .reg-log {
    padding: 25px; }
    nav ul .reg-log a {
      transform: translate(288px, -90px);
      float: left;
      color: silver;
      padding: 15px;
      font-size: 15px; }
  .brand {
    position: relative;
    margin-left: 25px;
    float: left;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 20px; }
    .brand a,
    .brand a:visited {
      color: #ffffff;
      text-decoration: none; }
  .nav-container {
    max-width: 1200px;
    margin: 0 auto; }
  nav {
    float: left;
    margin-left: 75px; }
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      nav ul li {
        float: left;
        position: relative; }
        nav ul li a,
        nav ul li a:visited {
          display: block;
          padding: 0 7px;
          line-height: 80px;
          background: #336699;
          color: #ffffff;
          text-decoration: none;
          font-size: 15px; }
          nav ul li a:hover,
          nav ul li a:visited:hover {
            background: #2581DC;
            color: #ffffff; }
          nav ul li a:not(:only-child):after,
          nav ul li a:visited:not(:only-child):after {
            content: ' ▾'; }
        nav ul li ul li {
          min-width: 190px; }
          nav ul li ul li a {
            padding: 5px;
            line-height: 20px; }
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); } }

@media only screen and (min-width: 1024px) {
  .navigation {
    height: 80px;
    background: #336699; }
  .brand {
    width: 20%;
    padding: 15px 15px 15px 15px;
    float: left;
    text-transform: uppercase;
    font-size: 24px; }
    .brand a,
    .brand a:visited {
      color: #ffffff;
      text-decoration: none; }
  .nav-container {
    max-width: 1200px;
    margin: 0 auto; }
  nav {
    float: left;
    width: 80%; }
    nav ul {
      list-style: none;
      padding: 0; }
      nav ul li {
        float: left;
        position: relative; }
        nav ul li a,
        nav ul li a:visited {
          font-size: 18px;
          display: block;
          padding: 0 15px;
          line-height: 80px;
          background: #336699;
          color: #ffffff;
          text-decoration: none; }
          nav ul li a:hover,
          nav ul li a:visited:hover {
            background: #2581DC;
            color: #ffffff; }
          nav ul li a:not(:only-child):after,
          nav ul li a:visited:not(:only-child):after {
            padding-left: 4px;
            content: ' ▾'; }
        nav ul li ul li {
          min-width: 190px; }
          nav ul li ul li a {
            padding: 15px;
            line-height: 20px; }
  nav ul .reg-log {
    margin-left: 500px;
    padding: 29px; }
    nav ul .reg-log a {
      color: silver;
      margin-top: 15px;
      padding: 15px;
      font-size: 18px; }
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); } }

/*-~- libs -~-*/
/*-~- partials -~-*/
.footer {
  clear: both;
  text-align: center; }

/*-~- styles -~-*/
.nesto {
  background: red; }
