 <span class=" glyphicon glyphicon-remove" style="cursor:pointer" ng-click="startRemove()" ng-hide="removing"> </span>
        
        <span ng-show="removing">
          <button class="btn btn-xs btn-success" ng-click="confirmRemove()">Remove</button>
           <button class="btn btn-xs btn-danger" ng-click="cancelRemove()">Never Mind</button>
        </span>
      