<div class="panel panel-primary">
    <div class="panel-heading" ng-click="collapse()"> {{ user.name }}</div>
    <div class="panel-body" ng-hide="collapsed"> <address></address>
        <br>
        <h4>Friends :</h4>
        <ul>
            <li ng-repeat='friend in user.friends'> {{friend}}
                <remove-friend method='removeFriend(friend)'></remove-friend>
            </li>
        </ul>
        <div ng-show="!!user.rank"> Rank :{{user.rank}} </div>
        <button ng-show="!user.rank" class="btn btn-success" ng-click="knightMe(user)">Knight me</button>
    </div>
</div>