/*-~- config -~-*/

@import 'config/reset';
@import 'config/variables';

/*-~- helpers -~-*/

@import 'helpers/breakpoints';
@import 'helpers/mixins';
@import 'config/typography';

/*-~- layout -~-*/

@import 'layout/icons';
@import 'layout/buttons';
@import 'layout/layout';

/*-~- libs -~-*/


/*-~- partials -~-*/

@import 'partials/header';
@import 'partials/footer';

/*-~- styles -~-*/

.main {
	height: 2000px;
	background-color: $graylight;
	.header-top {
		height: 60px;
		background-color: $darkgrey;
		position: fixed;
		top: 0;
		right: 0;
		width: 80%;
		border-bottom: 2px solid $black;
		overflow: hidden;
		z-index: 1;
		.container-1 {
			margin-left: 90px;
			white-space: nowrap;
			position: relative;
			a {
				padding: 10px 15px;
				border: none;
				background: $grey;
				color: $white;
				border-radius: 7px;
				float: left;
				margin: 10px 5px;
			}
			a:active,
			a:hover {
				background: $blue;
			}
		}
		/*Search bar input*/
		.container-1 input#search {
			width: 300px;
			height: 40px;
			background: $graylight;
			color: white;
			border: none;
			font-size: 1.3em;
			float: right;
			padding-left: 35px;
			border-radius: 7px;
			margin: 10px 50px;
		}
	}
	//  div .table-wrapper is wrapper for div with title and main-table  
	.table-wrapper {
		margin-top: 70px;
		float: right;
		margin-right: 3%;
		width: 70%;
		//    div with title
		.main-title {
			margin-top: 20px;
			float: right;
			opacity: 0.9;
			font-size: 1.2em;
			font-weight: bold;
			color: $darkgrey;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			padding: 10px;
			text-align: left;
			background-color: $lightgray;
			width: 100%;
		}
		//		#edeef2
		//Style for table 
		.main-table {
			border-spacing: 0;
			width: 100%;
			background-color: $white;
			border: solid #ccc 1px;
			font-size: 14px;
			color: #444;
			border-radius: 6px;
			box-shadow: 0 1px 1px #ccc;
			//            added style for thead
			thead {
				font-weight: bold;
				th {
					padding: 12px;
				}
			}
			tr:nth-child(odd) {
				background-color: $white-gray;
			}
			tr:hover {
				background: $lightgray;
				transition: all 0.1s ease-in-out;
			}
			td {
				border-left: 1px solid #ccc;
				border-top: 1px solid #ccc;
				padding: 10px;
				text-align: left;
			}
			td:first-child,
			th:first-child {
				border-left: none;
			}
			tr:last-child td:first-child {
				border-radius: 0 0 0 6px;
			}
			tr:last-child td:last-child {
				border-radius: 0 0 6px 0;
			}
		}
	}
	// end of table-wrapper
	// style for driver.html and team.html
	.btn-back {
		background-color: $darkgrey;
		font-size: 1.2em;
		padding: 5px 20px;
		margin: 10px 190px;
		border: none;
		border-radius: 4px;
	}
	.driver,
	.constructors,
	.results {
		height: 2900px;
		float: right;
		width: 81%;
		background-color: $darkgrey;
		.driver-info,
		.constructors-info {
			width: 29%;
			padding: 90px 40px;
			float: left;
			margin-top: 38px;
			border-bottom: 2px solid $black;
			border-right: 2px solid $black;
			color: white;
			font-size: 1.1em;
			a {
				color: $white;
			}
		}
		.table-wrapper {
			width: 66%;
		}
		///////Style test for results.html
		.results-info {
			width: 18%;
			padding: 90px 18px;
			float: left;
			margin-top: 38px;
			border-bottom: 2px solid $black;
			border-right: 2px solid $black;
			color: white;
			font-size: 1.1em;
			padding-bottom: 18px;
			a {
				color: $white;
			}
		}
		.second-table {
			//			change this 
			margin: 100px auto;
		}
	}
}

// end of main