 <header class="header">

        <nav class="navigation">
            <div class="img">
                <a href="#"><img src="images/F1-logo01.jpg"></a>
            </div>
            <ul>
                <li ui-sref="drivers"><a >Drivers</a></li>
                <li ui-sref="teams"><a >Teams</a></li>
                <li ui-sref="races"><a >Races</a></li>
            </ul>
        </nav>


    </header>