<!--div with headerTop-->
<div class="header-top">
    <div class="container-1">
       <a  ui-sref="drivers">F1-Feeder</a> <a ui-sref="drivers">Drivers</a><a href="{{ driver.driver.Driver.url }}">{{ driver.driver.Driver.givenName }} {{ driver.driver.Driver.familyName }}</a>
        </div>
</div>
<!--end-->
<section class="driver">
    <article class="driver-info">

    <img ng-src="images/flags/{{ driver.driver.Driver.nationality }}.png" />
        <p>{{ driver.driver.Driver.familyName }}</p>
        <p>{{ driver.driver.Driver.givenName }}</p>
        <p>Country: {{ driver.driver.Driver.nationality }}</p>
        <p>Teams: {{ driver.driver.Constructors[0].name }}</p>
        <p>Birth: {{ driver.driver.Driver.dateOfBirth }}</p>
        <p><a href="{{ driver.driver.Driver.url }}">Biography</a><p>
    </article>
    <!--div with title and table -->
    <div class="table-wrapper">
        <div class="main-title">Formula 1 2013 Results </div>
        <table class="main-table">
            <thead><th>Round</th>
                    <th>Grand Prix</th>
                    <th>Team</th>
                    <th>Grid</th>
                    <th>Race</th> </thead>
            <tbody>
            <tr ng-repeat="race in driver.races">
                    <td>{{race.round}}</td>
                    <td><img ng-src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
                    <td>{{race.Results[0].Constructor.name}}</td>
                    <td>{{race.Results[0].grid}}</td>
                    <td>{{race.Results[0].position}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>