<div class="header-top">
    <div class="container-1">
       <a href="#">F1-Feeder</a> <a href="./#/drivers">Drivers</a>
        <input type="search" ng-model="drivers.nameFilter" id="search" type="search" placeholder="Search..." /> </div>
</div>
<!--wrapper div  for table and title-->
<div class="table-wrapper">
    <div class="main-title">Drivers Championship Standings 2013 </div>
    <table class="main-table">
        <thead>
        </thead>
        <tbody>
            <tr ng-repeat="driver in drivers.driversList | filter:drivers.searchFilter">
                <td>{{$index + 1}}</td>
                <td> <img ng-src="images/flags/{{driver.Driver.nationality}}.png" /></td>
                <td>
                    <a ui-sref="driver({id: driver.Driver.driverId })">
                        <!--<a href="#/drivers/{{driver.Driver.driverId}}">-->{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}} </a>
                </td>
                <td>{{driver.Constructors[0].name}}</td>
                <td>{{driver.points}}</td>
            </tr>
        </tbody>
    </table>
    <!--end of table-->
</div>
<!--wrapper for table END-->