<div class="header-top">
	<div class="container-1"> <a ui-sref="drivers">F1-Feeder</a> <a ui-sref="teams">Teams</a>
		<input type="search" ng-model="races.nameFilter" id="search" placeholder="Search..." /> </div>
</div>
<section class="races">
	<div class="table-wrapper">
		<div class="main-title">Race Calendar 2013 </div>
		<table class="main-table">
			<thead>
				<tr>
					<td>Round</td>
					<td>Grand Prix</td>
					<td>Circuit</td>
					<td>Date</td>
					<td>Winner</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="race in races.racesList.Races  | filter:races.searchFilter">
					<td>{{race.round}}</td>
					<td>
						<a ui-sref='results({id: race.round})'><img ng-src="images/flags/{{race.Circuit.Location.country}}.png">{{race.raceName}}</a>
					</td>
					<td>{{race.Circuit.circuitName}}</td>
					<td>{{race.date}}</td>
					<td><img ng-src='images/flags/{{race.Results[0].Driver.nationality}}.png'>{{race.Results[0].Driver.familyName}}</td>
				</tr>
			</tbody>
		</table>
		<!--end of table-->
	</div>
</section>