<div class="header-top">
	<div class="container-1"> <a ui-sref="drivers">F1-Feeder</a> <a ui-sref="teams">Teams</a><a href="{{ results.qualify.url }}">{{ results.qualify.raceName }}</a> </div>
</div>
</div>
<!--end-->
<section class="results">
	<article class="results-info">
		<nav id="secondary" class="main-nav"> <img ng-src="images/flags/{{ results.qualify.Circuit.Location.country }}.png" />
			<p>{{ results.qualify.raceName }}</p>
			<p>Country: {{ results.qualify.Circuit.Location.country }}</p>
			<p>Location: {{ results.qualify.Circuit.Location.locality }}</p>
			<p>Date: {{ results.qualify.date }}</p>
			<p><a href="{{ results.qualify.url }}">Full Report</a>
				<p>
		</nav>
	</article>
	<!--div with title and table -->
	<div class="table-wrapper">
		<div class="main-title">Qualifying Results</div>
		<table class="main-table">
			<thead>
				<th>Pos</th>
				<th>Driver</th>
				<th>Team</th>
				<th>Best Time</th>
			</thead>
			<tbody>
				<tr ng-repeat="result in results.qualify.QualifyingResults">
					<td>{{result.position}}</td>
					<td><img ng-src="images/flags/{{result.Driver.nationality}}.png">{{result.Driver.familyName}} </td>
					<td>{{result.Constructor.name}}</td>
					<td>{{result.Q3}}</td>
					<!-- Ovo nije dobro -->
				</tr>
			</tbody>
		</table>
		<div class="second-table">
			<div class="main-title">Race Results</div>
			<table class="main-table">
				<thead>
					<th>Pos</th>
					<th>Driver</th>
					<th>Team</th>
					<th>Result</th>
					<th>Points</th </thead>
					<tbody>
						<tr ng-repeat='driver in results.results.Results'>
							<td>{{driver.position}}</td>
							<td><img ng-src='images/flags/{{ driver.Driver.nationality }}.png' /> {{ driver.Driver.familyName }} </td>
							<td><img ng-src='images/flags/{{ driver.Constructor.nationality }}.png' /> {{ driver.Constructor.name }}</td>
							<td>{{ driver.Time.time}}</td>
							<td>{{driver.points}}</td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
</section>