<div class="header-top">
    <div class="container-1"> <a ui-sref="drivers">F1-Feeder</a> <a ui-sref="teams">Teams</a>
        <input type="search" ng-model="teams.nameFilter" id="search" placeholder="Search..." /> </div>
    <!--  ng-model="teams.searchFilter"    -->
    <!--continue here,add search for teams in teamsController-->
</div <section class="driver">
<div class="table-wrapper">
    <div class="main-title">Constructors Championship Standings 2013 </div>
    <table class="main-table">
        <thead>
        </thead>
        <tbody>
            <tr ng-repeat="team in teams.teamsList  | filter:teams.searchFilter">
                <td>{{$index + 1}}</td>
                <td> <img ng-src="images/flags/{{team.Constructor.nationality}}.png" /></td>
                <td> <a ui-sref="team({id:team.Constructor.constructorId })">

                        {{team.Constructor.name}}
                    </a> </td>
                <td> <a href="{{ team.Constructor.url}}">Details</a> </td>
                <td>{{team.points}}</td>
            </tr>
        </tbody>
    </table>
    <!--end of table-->
</div>
</section>