<div class="header-top">
	<div class="container-1"> <a ui-sref="drivers">F1-Feeder</a> <a ui-sref="teams">Teams</a><a href="{{ team.team.Constructor.url }}">{{ team.team.Constructor.name }}</a> </div>
</div>
</div>
<!--end-->
<section class="constructors">
	<article class="constructors-info">
		<nav id="secondary" class="main-nav"> <img ng-src="images/flags/{{ team.team.Constructor.nationality }}.png" />
			<p>{{ team.team.Constructor.name }}</p>
			<p>Country: {{ team.team.Constructor.nationality }}</p>
			<p>Position: {{ team.team.position }}</p>
			<p>Points: {{ team.team.points }}</p>
			<p><a href="{{ team.team.Constructor.url }}">History</a>
				<p>
		</nav>
	</article>
	<!--div with title and table -->
	<div class="table-wrapper">
		<div class="main-title">Formula 1 2013 Results </div>
		<table class="main-table">
			<thead>
				<th>Round</th>
				<th>Grand Prix</th>
				<th ng-repeat='driver in team.results.Races[0].Results'> {{ driver.Driver.familyName }} </th>
				<th>Points</th>
			</thead>
			<tbody>
				<tr ng-repeat='race in team.results.Races'>
					<td>{{ race.round }}</td>
					<td>
						<!--                     Changed this ui-sref  -->
						<a ui-sref='results({id: race.round})'> <img ng-src='images/flags/{{ race.Circuit.Location.country }}.png' /> {{ race.raceName }} </a>
					</td>
					<td ng-repeat='driverInfo in race.Results'> {{ driverInfo.position }} </td>
					<td> {{ team.getTotal($index) }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</section>