<div>{{ books.summaryData.bookCount }} Books -
{{ books.summaryData.readerCount}} Readers -
{{books.summaryData.grandTotalMinutes }} Total Minutes Read
</div>



<h3>All Books</h3>
<div>
    <ul>
        <li ng-repeat="book in books.allBooks">{{ book.title }} - {{ book.author }}
            <a href="#/EditBook/{{ book.book_id }}">Edit</a>
            <a ng-click="books.deleteBook(book.book_id)" href="">Delete</a>
        </li>
    </ul>
</div>

<a href="#/AddBook">Add New Book</a>
<a href="#/EditBook/{{ books.currentUser.lastBookEdited.book_id }}">Open Last Edited</a>

<h3>All Readers</h3>
<div>
    <ul>
        <li ng-repeat="reader in books.allReaders">{{ reader.name }} - {{ books.getBadge(reader.totalMinutesRead) }}</li>
    </ul>
</div>


<h3>Current Favorite Book</h3>
<div>
    {{ books.favoriteBook }}
</div>