@import url("reset.css");
{
    box-sizing: border-box;
}

body {
    background: url(../img/background2.jpg);
}


/*Navbar*/

.navbar {
    background-color: #227b9e;
    font-size: 16px !important;
    letter-spacing: 4px;
    font-family: calibra;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
    line-height: 42px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #227b9e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent color: #fff !important;
}

.navbar img {
    border: 1px solid #227b9e !important;
    max-width: 46, 97%;
    height: auto;
    margin-right: 120px;
}


/* Dropdown */

.open .dropdown-toggle {
    color: #fff;
    background-color: #227b9e !important;
}


/* Dropdown links */

.dropdown-menu li a {
    color: #000 !important;
}


/*dropdown text*/

p {
    color: #227b9e !important;
    text-align: justify;
    font-size: 18px;
    font-family: calibra;
    line-height: 25px;
    background: white;
    padding: 8px;
}


/*Slider*/

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-inner {
    border: 1px solid #227b9e !important;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.content {
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.mainevents {
    padding-left: 27px;
}

h1 {
    background-color: #227b9e !important;
    color: white;
    font-size: 16px !important;
    line-height: 150% !important;
    font-family: calibra;
    margin-top: 20px;
}


/*h2 {
    margin-top: 100px;
    background-color: #227b9e !important;
    color: white;
    font-size: 16px !important;
    line-height: 150% !important;
    font-family: calibra;
}*/

.contact {
    margin-top: 100px;
}


/*gallery*/

.gallery {
    margin-top: 100px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    border: 1px solid #227b9e !important;
}


/*google maps*/

#googleMap {
    height: 300px;
    width: 95%;
    margin-left: 26px;
}


/*footer*/

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #227b9e;
}

.copyright {
    height: auto;
    width: 100%;
}