<!doctype html>
<html ng-app="app">
  <head>
      
  </head>
   <body>
       
       <h1 ng-controller="HelloWorldCtrl">{{helloMessage}}</h1>
       <script src="https://code.angularjs.org/1.4.0/angular.js"></script>
       <script type="text/javascript">
        angular.module('app',[]).controller('HelloWorldCtrl',function($scope){$scope.helloMessage="Hello World"});
       
       </script>
   </body>
   
    
    
</html>