<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" />
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap.min-3.1.1.js"></script>
    <script src="lib/angular/angular-1.3.0.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/directives/fontScale.js"></script>
  </head>

  <body ng-controller="mainCtrl">
  <div>I am not scaled{{size}}</div>
  <div font-scale="size">I am some text</div>
   <input ng-model="size">
    
  </body>

</html>